@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&display=swap');

.contact {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}

.info {
    font-family: 'Nanum Pen Script', cursive;
}
