@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');

.Title {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}

.Detail {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
}

.Semi {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 600;
}

