@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&display=swap');

.Title {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}

.Date {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
}